.add-post-popup {
    width: 100%;
    height: 100vh;
    visibility: hidden;
    opacity: 0;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.5);
}

.add-post-popup__box {
    display: flex;
    width: 350px;
    margin: 0 auto;
    flex-wrap: wrap;
    flex-direction: column;
}

.add-post-popup__title {
    font-size: 45px;
    color:blanchedalmond;
    text-align: center;
    margin: 40px auto;
}

.add-post-popup__input {
    min-width: 300px;
    min-height: 100px;
    margin: 0 auto;
    border: 1px solid white;
    border-radius: 10px;
    outline: none;
    color: #8b8b8b;
    background: black;
}

.add-post-popup__btn {
    width: 150px;
    height: 34px;
    background-color: #4285f4;
    font-family: "Inter", Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    color: white;
    align-items: center;
    border: none;
    outline: none;
    border-radius: 48px;
    margin: 20px auto;
    cursor: pointer;
}

.add-post-popup__visible {
    visibility: visible;
    opacity: 1;
}

.add-post-popup__close {
    background-image: url('../images/delete.svg');
    background-size: 30px 30px;
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
    border: none;
    background-color: black;
    cursor: pointer;
    margin-left: 330px;
}

